<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlayVista - 드라마 상세 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/content_details.css}">

</head>
<body>
<div class="admin_header">
    <div>
        <div class="logo_name">
            <a th:href="@{/main}">
                <h1>PlayVista</h1>
            </a>
        </div>
    </div>
</div>
<main class="admin_drama_details">
    <div class="admin_page_bar">
        <div class="bar">
            <a th:href="@{/admin}" class="admin_home">관리자 홈</a>
            <div class="admin_user">
                <p>회원 관리</p>
                <ul>
                    <li><a th:href="@{/admin_user_list}">회원 목록</a></li>
                </ul>
            </div>
            <div class="admin_reg">
                <p>등록</p>
                <ul>
                    <li><a th:href="@{/admin/dramaList}">드라마</a></li>
                    <li><a th:href="@{/admin/varietyList}">예능</a></li>
                    <li><a th:href="@{/admin/MovieList}">영화</a></li>

                </ul>
            </div>
            <div class="admin_company">
                <p>관리자</p>
                <ul>
                    <li>
                        <a th:href="@{/admin_list}">관리자 목록</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="drama_details_form">
        <h1>드라마 상세페이지</h1>
        <div class="drama_details_form_table">
            <form id="dramaDetailsForm" th:action="@{/admin/drama_delete/{dramaNo}(dramaNo=${drama.dramaNo})}" method="post">
                <table>
                    <tr>
                        <th>영상</th>
                        <td>
                            <video id="detailsvideo" controls>
                                <source th:if="${drama.videoFileName != null}" th:src="@{${drama.videoFileName}}" type="video/mp4">
                                <p th:if="${drama.videoFileName == null}">비디오 파일이 없습니다.</p>
                            </video>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td th:text="${drama.dramaName}">드라마 제목</td>
                    </tr>
                    <tr>
                        <th>장르</th>
                        <td th:text="${drama.dramaGenre}">드라마 장르</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><textarea id="detailsinfo" cols="30" rows="10" readonly th:text="${drama.dramaText}"></textarea></td>
                    </tr>
                    <tr>
                        <th>드라마 사진</th>
                        <td>
                            <img th:if="${drama.dramaImg != null}"
                                 th:src="@{${drama.dramaImg}}"
                                 th:alt="${drama.dramaName}">
                            <p th:if="${drama.dramaImg == null}">사진이 없습니다.</p>
                        </td>
                    </tr>
                </table>
                <div id="drama_details_button">
                    <a th:href="@{/admin/dramaList}" class="btn">목록</a>
                    <button type="button" th:onclick="'location.href=\'/admin/drama_modify/' + ${drama.dramaNo} + '\' '">수정</button>
                    <button type="button" onclick="confirmDelete()">삭제</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    function confirmDelete() {
        if (confirm("삭제하시겠습니까?")) {
            document.getElementById("dramaDetailsForm").submit();
        }
    }
</script>
</body>
</html>
